<io-dwell-spring #dwell></io-dwell-spring>

<!-- <div> -->
<as-split direction="horizontal" (dragEnd)="moveSplitPane(h)">
  <as-split-area #h [size]="20">
    <io-tree-history #treeComp style="height: 80%" [style.width]="widthHistory" [cmdViewWidth]="120">
    </io-tree-history>
  </as-split-area>

  <as-split-area [size]="80">
    <p>
      Multi-touch (two touches) creates a rectangle.<br/>
      Three taps or clicks changes the color of the targeted rectangle.<br/>
      A long touch or press (2 seconds) removes the targeted rectangle.<br/>
      Swipe horizontally to clear all the SVG shapes.<br/>
      A DnD onto a rectangle moves it. Make a pause before dropping it to popup the cancelling bubble (release on it to cancel).<br/>
    </p>
    <br/>

    <div id="canvas-container">
      <svg tabindex="0" #canvas width="100%" height="90%">
      </svg>
    </div>
  </as-split-area>
</as-split>
<!-- </div> -->
