.tab-bar {
  display: flex;
  gap: 10px;
  list-style-type: none;
  border-bottom-style: solid;
  border-width: thin;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  border-color: #b5b5b5;
  width: 100%;
}

.inactive-tab {
  min-height: 40px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-bottom-width: medium;
  color: black;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.active-tab {
  min-height: 40px;
  border-bottom-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;

  border-color: black;
  color: black;
  background-color: white;
  border-width: medium;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
