<as-split direction="horizontal">
  <as-split-area #h [size]="20">
    <io-linear-history></io-linear-history>
  </as-split-area>

  <as-split-area [size]="80" #cardsPane>
    <div class="cards-block" #cards1>
      <mat-card *ngFor="let card of dataService.cards1" class="cards">
        <mat-card-header class="card-elt">
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-elt">
          <p>
            {{card.text}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="cards-block" #cards2>
      <mat-card *ngFor="let card of dataService.cards2" class="cards">
        <mat-card-header class="card-elt">
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-elt">
          <p>
            {{card.text}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </as-split-area>
</as-split>
