.page {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  text-align: center;
  min-height: 30px;
}

.main {
  position: absolute;
  left: 11%;
  width: 85%;
}

.main button {
  min-height: 35px;
  color: black;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}
