<div class="page">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Josefin+Sans">

  <div class="preview" #preview [ngStyle]="{whiteSpace: 'pre-line'}">
    <p></p>
    <svg class="preview-canvas">
    </svg>
  </div>

  <div class="history">
    <div class="header">
      <h2>HISTORY</h2>
      <button ioUndo class="button-undo-redo">UNDO</button>
      <button ioRedo class="button-undo-redo">REDO</button>
    </div>

    <div class = "buttons">
      <button #baseStateButton class="history-button-active">Start</button>

      <div #undoButtonContainer>
        <ng-container *ngFor="let undoable of undoHistory.getUndo(); index as i">
          <button #undobuttons class="history-button-active">{{undoable.getUndoName()}}</button>
          <br/>
        </ng-container>
      </div>

      <div #redoButtonContainer>
        <ng-container *ngFor="let undoable of undoHistory.getRedo(); index as i">
          <button #redobuttons
                  class="history-button-inactive">
            {{undoHistory.getRedo()[undoHistory.getRedo().length - i - 1].getUndoName()}}
          </button>
          <br/>
        </ng-container>
      </div>
    </div>
    </div>

  <div class="main">

    <h1>An Interacto-Angular app</h1>
    <h2>Type some text</h2>
    <textarea [ioWidget]="writeTextBinder" rows="4" cols="50" value="{{dataService.txt}}"></textarea>
    <br/>
    <button [ioWidget]="clearClicksBinder" class="clearTextButton">Clear text</button>
    <br/><br/>

    <h2>Create and edit rectangles</h2>
    <p>
      Multi-touch (two touches) creates a rectangle.<br/>
      Three taps changes the color of the targeted rectangle.<br/>
      A long touch (2 seconds) removes the targeted rectangle.<br/>
      Swipe horizontally to clear all the SVG shapes.<br/>
    </p>
    <br/>

    <svg #canvas width="1000" height="600" style="border:1px solid black;">
    </svg>

    <h2>Drag the cards</h2>
    <div class="cards-block" #cards1>
      <mat-card *ngFor="let card of dataService.cards1" class="cards">
        <mat-card-header>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{card.text}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="cards-block" #cards2>
      <mat-card *ngFor="let card of dataService.cards2" class="cards">
        <mat-card-header>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{card.text}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

