
<div class="header">
  <h2>HISTORY</h2>
  <button ioUndo class="button-undo-redo">UNDO</button>
  <button ioRedo class="button-undo-redo">REDO</button>
</div>

<div class="tree" oncontextmenu="return false;">
  <div #d class="tree-node-history" *ngFor="let position of history.getPositions() | keyvalue"
  [ngStyle]="{left: (position.value * 95 + 5) + 'px', top: ((depth(history.undoableNodes[position.key]) -1) * 95 + 10) + 'px'}"
  [ngClass]="history.currentNode?.id === position.key ? 'current-node' : ''"
  [ioClick] (clickBinder)="goTo($event, position.key)" >
    {{undoButtonSnapshot(history.undoableNodes[position.key], d)}}
  </div>
</div>
