@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
